.hamburger-menu {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  
  div {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s;
  }
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 100px;  
  right: 40px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  min-width: 180px;  
}
.menu.open {
  display: flex;
}

.menu-item {
  margin: 15px 0;  
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu-item:hover {
  color: #007bff;
}

.hamburger-menu.open div:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.hamburger-menu.open div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open div:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.menu-item a:hover {
  color: #007bff;
}
